<div class="container">
  <div class="row">
    <div class="col-sm-6" style="background-color:yellow;">
      <h2 class="text-center">Your service has been downgraded. </h2>
      <p class="text-center">Any private wikis created by you are now public.</p>
    </div>
  </div>
</div>
