<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Welcome to Blocipedia</h1>
    <br />
    <h2 class="text-center">Current Service Level: <%= @user.role %></h2>
    <br />

    <div class="container">
    <div class="row">
      <div class="col-sm-6" style="background-color:yellow;">
        <h3 class="text-center">Basic Wiki Service</h3>
        <p>Lorem ipsum...</p>
      </div>
      <div class="col-sm-6" style="background-color:orange;">
        <h3 class="text-center">Premium Wiki Service</h3>
        <p>Sed ut perspiciatis...</p>
      </div>
    </div>
  </div>

  </div>
</div>