<h1 class="float-left">Wiki
  <div class="col-md-4">
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
  </div>
</h1>
<br />

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @wikis.each do |wiki| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading"><p><%= link_to markdown(wiki.title), wiki %></p></h4>

            
            <% if (wiki.private && !current_user.premium? ) %> 
              <h4> PRIVATE WIKI: YOU DONT HAVE ACCESS.</h4>
            <% else %>
              <small><p><%= markdown(wiki.body)%></p></small>
            <% end %>  

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>